// Font properties
	$font-family: 'Open Sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	$second-font: 'Raleway', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;

// color
	$color-white:#FFF;
	$color-gray:#f8f8f8;
	$color-light-gray:#e9e9e9;
	$color-dark-gray:#909090;
    $color-dark:#3c3c3c;
	$color-bg:#1f1f1f;
    $color-black:#000;
	
    $color-primary:#8657DB; 
    $color-primary-dark:darken($color-primary,12%);
	$color-secondary:#2969B0;  

